caption {
	font-weight: bold;
	background: #50ADEA url(http://infectedfx.net/css/tables/corner.gif) no-repeat right top;
	border-bottom:2px solid #1975d7;
	color: #FFF;
	text-transform:uppercase;
	padding:10px;
}
.primerLinea {
	text-align: center;
	background: #FFFFFF;
	color: #797979;
	border: 1px solid #FFF;
	text-transform:uppercase;
	font-weight: bolder;
}
.tabla {

	border-spacing:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#E7E7E7;
	color: #b7b7b7;
}
