.borde {
	border: 2px solid #3068FD;
}
.fondo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #296BFD;
	background-color: #CCEDFF;
	font-weight: bold;
	border: 2px solid #3664FF;
}
.bordefino {
	border-top: 1px solid #3068FD;
	border-right: 1px solid #3068FD;
	border-bottom: 1px solid #3068FD;
	border-left: 1px solid #3068FD;
}
.bordepe {

	border: 1px solid #3068FD;
}
.cliente {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	border: 1px solid #3068FD;
}
.detalle {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
	border: 1px solid #3068FD;
}
