@charset "windows-1251";
a{text-decoration:none;}
a:hover{text-decoration:underline;}


body{margin: 0px; padding: 0px;}
div,td{font-family: Tahoma; font-size: 12px; color: #808080;}
form{margin: 0px}
.sel1{height: 19px; width: 109px; font-family: Tahoma; font-size: 10px; color: #46484A;}
.topmenu{font-family: Tahoma; font-size: 10px; color: #46484A; font-weight: 700}
.top11{font-family: Tahoma; font-size: 11px; color: #46484A;}
.or11{font-family: Tahoma; font-size: 11px; color: #FF7E00;}


.mb{
	color: #000000;
	font-size: 11px;
	position: absolute;
	font-family: tahoma;
	font-weight: 600;
	left: 296px;
	top: 60px;
	width: 1px;
}
.mw{position: relative; left: -2px; top: 3px; color: #ffffff; font-size: 11px; font-family: tahoma; font-weight: 600}
.aw{color: #ffffff; font-size: 11px; font-family: tahoma; font-weight: 600}

.lb{
	color: #78BE30;
	font-size: 11px;
	position: absolute;
	font-family: tahoma;
	font-weight: 600;
	top: 405px;
	left: 45px;
	width: 1px;
	height: 1px;
}
.lw{position: relative; left: -1; top: -1; color: #ffffff; font-size: 11px; font-family: tahoma; font-weight: 600}
.law{color: #ffffff; font-size: 11px; font-family: tahoma; font-weight: 600}

.lmenu{padding: 7px 0 4px 0}
.lm11{font-family: Tahoma; font-size: 11px; color: #484E53;}

.search{height: 20px; width: 117px; font-family: Tahoma; font-size: 11px; color: #46484A; border: #000000 1px solid; padding: 2px 3px 2px 3px}

.so{font-family: Tahoma; font-size: 11px; color: #828B93;}


.item_name{font-family: Tahoma; font-size: 14px; color: #E55C19; font-weight: 600; padding: 0 7px 0px 7px}
.item_desc{font-family: Tahoma; font-size: 11px; color: #484E53; font-weight: 600; padding: 7px}
.item_price{
	font-family: Tahoma;
	font-size: 14px;
	color: #3091BB;
	font-weight: 400;
	padding: 0;
	text-align: left;
	vertical-align: bottom;
}
.borde {
	border: 2px solid #155390;
}
.error {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
	color: #FF0000;
	background-color: #000000;
}
.TituloGrande {
	font-size: 14px;
	font-weight: bold;
}
input { font-family: Tahoma, Verdana, Arial; font-size: 11px; color: #000000; background-color: #CCCCCC; border: #000099; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
select { font-family: Tahoma, Verdana, Arial; font-size: 11px; color: #000000; background-color: #CCCCCC; border: #000099; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.titulo {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #6699CC;
}
.thprimirlinea {
	font-size: 12px;
	font-weight: bold;
	background-color: #F2F2F2;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.nohay {
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FF0000;
	background-color: #000000;
}
.nada {
	border: none;
	background: #FFFFFF;
}
.fila_MouseOut{
	background-color:#FFFFF1;
	font-size: 18px;
	color: #000000;
	border: medium solid #999999;
}
.fila_MouseOver{
	background-color:#CFCFCF;
	font-size: 28px;
}
.listado{	/* estilo para los listados generados en tablas*/
	background-color: #F0ECD0;
	border: none;
	font-family: verdana, monospace;
	font-size: xx-small;
	width: 100%;
}

.listado tr:hover	{
	background-color: #B5B5B5;
}

.listado th{
	background-color: #E3DBA4;
}
.baja {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #FF0000;
}
