body {
	background: #CCCCCC;
}
.bordetable {
	font: bold 12px Arial;
	color: #000066;
	background: #FFFFFF;
	border: 4px solid #000066;
	margin: 2px;
	vertical-align: middle;
}
.Titulo {
	color: #FFFFFF;
	background: #EBFEFE;
	text-align: center;
	background-color: #0066CC;
	font-size: 14px;
	
}
.itmes {
	border: none;
	list-style: circle url(none) inside;
	font: bold 12px "Courier New", Courier, mono;
	color: #003366;
	text-align: left;
	margin-top: 4px;
}
.margen {
	margin: 2px;
	background: #CCCCCC;
}
.busqueda {
	font: 12px Geneva, Arial, Helvetica, sans-serif;
	border: 2px solid #009966;
}
.tituloBus {
	font: bold 14px Arial;
	color: #000099;
	background: #CCCCCC;
	text-align: center;
}
.mnusec {
	font-family: Arial;
	background: #E8FFFF;
}
.linea1{
	background: #F6F4F1;
	color: #110;
	border: 4px solid #F2EDDA;
	padding: 0.4em;
}

.linea2{
	background: #CEC4B3;
	color: #110;
	border: 1px solid #F2EDDA;
	padding: .4em;
}.nohay {
	background: #000000;
	font: bold 16px Georgia, "Times New Roman", Times, serif;
	color: #FF0000;
	text-align: center;
}
.tableborde {
	border: 4px solid #999999;
	background: #CC9999;
	text-align: center;
	color: #666666;
}
input,select,textarea{
	font: 12px Arial;
	color: #000097;
	background: #CCCCCC;
	border: 2px solid #000000;
	display: marker;
	background-attachment: scroll;
	border-bottom-color: #009966;
	border-color: #666666;
	border-left-color: #006633;
}

a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #990000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}
a:active {
	text-decoration: none;
	color: #000099;
}
a.estilo_a:link {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
a.estilo_a:visited {}
a.estilo_b:link {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
a.estilo_b:visited {}
.nada {
	border: none;
	background: #F6F4F1;
}
.nada1 {
	border: none;
	background: #CEC4B3;
}
.Aviso {
	font: 10px Arial;
	color: #990000;
	background: #FFF0B7;
	text-align: center;
}
.fondo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #000099;
	font-weight: bold;
}
.tlinea1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-variant: normal;
	color: #000066;
	background-color: #FFFFFF;
}
.bordetable2 {

	font: bold 11px Arial;
	color: #000000;
	background: #FFFFFF;
	border: 2px solid #996600;
	margin: 2px;
	vertical-align: middle;
}
.body1 {
	background-color: #FFFFFF;
}
.tiempo1 {
	background: #F6F4F1;
	color: #101000;
	border: 2px solid #F2EDDA;
	padding: 0.2em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}
.SECTOR {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	color: #666666;
}
.eLEMENTO {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
}
.ATENCION {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	color: #FF0000;
	background-color: #000000;
	text-align: center;
	vertical-align: middle;
}
.historial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
}
.negro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000063;
	font-style: italic;
}
.bien {
	border: 4px solid #000000;
}
.fila_MouseOut{
	background-color:#FFFFF1;
	font-size: 12px;
	color: #000000;
}
.fila_MouseOver{
	background-color:#CFCFCF;
	font-weight: bold;
	font-size: 12px;
}.TOTAL {
	font-size: 12px;
	font-weight: bold;
	color: #000033;
	background-color: #CEC4B3;
}
