/*
 $Id
 */ * {
    margin: 0;
    padding: 0;
}

html {
    background: url("cream/bg.gif") repeat-x #F8F2E3;
    color: #444B54;
    font-size: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
    font-size: .75em;
    position: relative;
    margin: 0 auto;
    min-height: 100%;
    padding: 20px 20px 0 20px;
    overflow: auto;
    width: 940px;
}

p {
    padding: 4px 10px 2px 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}

h1 {
    color: #394047;
    font-size: 150%;
    font-weight: normal;
    line-height: 1.5em;
    margin: 0 10px;
    padding: 10px 10px;
    text-align: center;
}

h2 {
    background-color: #444B54;
    color: #fff;
    font-size: 130%;
    font-weight: bold;
    line-height: 1.5em;
    padding: 3px 10px;
    text-transform: uppercase;
}

table {
    width: 100%;
    background-color: #fff;
}

.plugin {
    background: #fff;
}


th, td, h3 {
    font-size: 100%;
    padding: 4px 10px 2px 10px;
    text-align: left;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #c03000;
}

a:hover {
    text-decoration: underline;
}

#select {
    text-align: right;
}

#select select {
    width: 100px;
}

#vitals, #network, #memory, #filesystem, #hardware, #temp, #voltage, #fan, #ups {
    background-color: #fff;
    float: left;
    margin: 10px 0 0 10px;
    padding: 1px;
    width: 451px;
}

#pciTable, #ideTable, #scsiTable, #usbTable {
    padding: 0px 30px;
}

#memory, #filesystem {
    width: 915px;
}


#filesystemTable thead tr .header {
    background-image: url("../gfx/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#filesystemTable thead tr .headerSortUp {
    background-image: url("../gfx/asc.gif");
    color: #c03000;
}

#filesystemTable thead tr .headerSortDown {
    background-image: url("../gfx/desc.gif");
    color: #c03000;
}

#footer {
    clear: both;
    color: #5C5C5C;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
    font-size: 80%;
    text-align: center;
}


.even {
    background-color: #FBFBF9;
}

.bar {
    background-color: #58626D;
}

.right {
    padding-right: 20px;
    text-align: right;
}
