/*
 $Id: phpsysinfo.css 492 2011-08-17 12:17:12Z jacky672 $
 */
a {
    text-decoration: none;
    color: #c03000;
}

a:hover {
    text-decoration: underline;
}* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: url("../gfx/html.gif");
}

body {
    position: relative;
    width: 940px;
    min-height: 100%;
    overflow: auto;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    font: 0.75em arial, tahoma, helvetica, sans-serif;
    color: #000;
    background: #fff url("../gfx/body.gif") repeat-y;
}

h1 {
    margin: 0 10px;
    padding: 10px 10px;
    border-top: 1px solid #8A6E5A;
    border-bottom: 1px solid #8A6E5A;
    font-size: 2em;
    font-weight: normal;
    color: #fff;
    background: #8A6E5A;
}

#select {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 370px;
    text-align: right;
}

#select select {
    width: 100px;
}

#vitals, #network, #memory, #filesystem, #hardware, #temp, #voltage, #fan, #ups {
    float: left;
    width: 451px;
    margin: 10px 0 0 10px;
    padding: 1px;
    border: 1px solid #5A7E8A;
}

h2 {
    padding: 5px 10px;
    font-family: "trebuchet ms";
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.0em;
    text-transform: uppercase;
    color: #fff;
    background: #5A7E8A;
}

table {
    width: 100%;
}

.plugin {
    margin: 10px 0 0 8px;
    padding: 1px;
    padding: 1px;
    border: 1px solid #5A7E8A;
}

.dataTables_wrapper{
    margin: 0 0 0 0 !important;
    border: 0px !important;
}


th, td, h3 {
    padding: 4px 10px 2px 10px;
    text-align: left;
    vertical-align: top;
}

h3 {
    font-size: 120%;
}

.even {
    background: #d6d6d6;
}

#footer {
    clear: both;
    color: #c9c9c9;
    margin: 12px;
    padding: 13px 25px;
    line-height: 18px;
}

#memory, #filesystem {
    width: 915px;
}

.bar {
    background: #C1DC70 url("../gfx/html.gif");
}

p {
    padding: 4px 10px 2px 10px;
    line-height: 1.6;
    text-align: left;
    vertical-align: top;
}

.right {
    text-align: right;
    padding-right: 20px;
}

#pciTable, #ideTable, #scsiTable, #usbTable {
    padding: 0px 30px;
}
