/* CSS Document */
body {
	background-color:#F7F7F7;
}
fieldset {
	border:1px dashed #CCC;
	padding:10px;
}
legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 90%;
	letter-spacing: -1px;
	font-weight: bold;
	line-height: 1.1;
	color:#fff;
	background: #666;
	border: 1px solid #333;
	padding: 2px 6px;
}
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 175%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#333;
}

h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 135%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#333;
}

label {
	width:250px;
	height:32px;
	margin-top:3px;
	margin-right:2px;
	padding-top:11px;
	padding-left:6px;
	background-color:#CCCCCC;
	float:left;
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#666;
}
.form {
	margin:0;
	padding:0;
}
.container {
	width:600px;
	margin:auto;
	padding:10px;
}
.top {
	width:570px;
	height:50px;
}
#leftSide {
	width:600px;
	padding-top:30px;

}
#rightSide {
	background-color:#fff;
	width:200px;
	padding:5px;
	margin-top:40px;
	float:right;
	border:1px solid #CCC;
	font:normal 12px Arial;
	color:#666666
}
.clear {
	clear:both;
}
.holder {
	background-color:#fff;

}
.div_texbox {
	width:300px;
	float:right;
	background-color:#E6E6E6;
	height:35px;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;
	padding-left:5px;
}

.textbox {
	background-image: url(../images/16t.png);
	background-repeat: no-repeat;
	background-position:left;
	width:250px;
	font:normal 18px Arial;
	color: #999999;
	padding:3px 5px 3px 19px;
}
.textbox_FEC {
	background-image:url(../images/date.png);
	background-repeat: no-repeat;
	background-position:left;
	width:250px;
	font:normal 18px Arial;
	color: #999999;
	padding:3px 5px 3px 19px;
}
.textbox:focus, .textbox:hover {
	background-color:#F0FFE6;
}

.username {
    	background-image: url(images/16m.png);
    	background-repeat: no-repeat;
    	background-position:left;
	width:285px;
    	font:normal 18px Arial;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.username:focus, .username:hover {
	background-color:#F0FFE6;
}
   
.password {
    	background-image: url(images/16s.png);
    	background-repeat: no-repeat;
   	background-position:left;
	width:285px;
    	font:normal 18px Arial;
    	color: #999999;
    	padding:3px 5px 3px 19px;
}
.password:focus, .password:hover {
	background-color:#F0FFE6;
}

.button_div {
	width:100%;
	float:right;
	background-color:#fff;
	border:1px solid #ccc;
	text-align:center;
	height:35px;
	margin-top:3px;
	padding-top:5px;
	padding-bottom:3px;

}
.buttons {
	background: #e3e3db;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;

}

.buttons_OK {
	background: #e3e3db;
	background-image:url(../images/save.png);
    background-repeat: no-repeat;
   	background-position:left;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	width:120px;

}
.buttons_IMP {
	background: #e3e3db;
	background-image:url(../images/printer.png);
    background-repeat: no-repeat;
   	background-position:left;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	width:120px;

}
.buttons_EXC {
	background: #e3e3db;
	background-image:url(../images/page_excel.png);
    background-repeat: no-repeat;
   	background-position:left;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	width:120px;

}
.buttons_FEC {
	background: #e3e3db;
	background-image:url(../images/date.png);
    background-repeat: no-repeat;
   	background-position:left;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	width:120px;

}
.buttons_aplicar {
	background: #e3e3db;
	background-image:url(../images/action_check.png);
    background-repeat: no-repeat;
   	background-position:left;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	width:160px;

}

.buttons_CANCEL {
	background: #e3e3db;
	background-image:url(../images/action_remove.png);
    background-repeat: no-repeat;
   	background-position:left;
	font-size:12px; 
	color: #989070; 
	padding: 6px 14px;
	border-width: 2px;
	border-style: solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight:bold;
	width:160px;
}

.linea0	{
	background-color:#d8d8d0;
	border:solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	cursor:pointer;
}

.linea2	{
	background-color:#E6E6E6;
	border:solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;	
	cursor:pointer;
}
tr:hover	{
	background-color:#F0FFE6;
}

.listado{	/* estilo para los listados generados en tablas*/
	background-color: #F0ECD0;
	border: none;
	font-family: verdana, monospace;
	font-size: xx-small;
	width: 100%;
}

.listado tr:hover	{
	background-color: #B5B5B5;
}

.listado th{
	background-color: #E3DBA4;
}
